receivers:
  glean:
    endpoint: localhost:9888
    # Default: "/submit/{namespace}/{document_type}/{document_version}/{document_id}"
    # path: ""
    read_header_timeout: 20s

processors:
  batch:
    timeout: 1s
    send_batch_size: 100

exporters:
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 5
  prometheus:
    endpoint: localhost:8889  # Changed from 8888 to avoid conflicts
    send_timestamps: true
    enable_open_metrics: true

extensions:
  zpages:
    endpoint: localhost:55679

service:
  extensions: [zpages]
  pipelines:
    metrics:
      receivers: [glean]
      processors: [batch]
      exporters: [debug, prometheus]
    logs:
      receivers: [glean]
      processors: [batch]
      exporters: [debug]
  telemetry:
    logs:
      level: info
